<p>Current table bet is {{ bet }}$</p>
<!-- event binding -->
<button (click)="raiseStake()">Raise stakes</button>
<button (click)="dropStake()">Drop stakes</button>
<!-- property binding one way -->
<input type="number" [value]="bet" />
<!-- property binding two way -->
<input type="number" [(ngModel)]="bet" />

<style>
    * {
        padding-left: 20px;
    }
    p {
        align-content: center;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
        width: 100%;
    }
    button,
    input {
        margin-top: 20px;
        margin-left: 20px;
        margin-right: 20px;
        padding: 10px;
        text-align: center;
    }
</style>
