<p>&copy; Pheonix Learns {{currentYear}} &trade;</p>

<style>
    p {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 1.5em;
        max-height: 3.5em;
        padding: 10px;
        background-color: #10100f;
        color: white;
        align-items: center;
        text-align: center;
        justify-content: center;
        margin-bottom: 0;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
    }
</style>