<h2>Pheonix's Pick</h2>
<a routerLink="/home">Home</a><span> | </span>
<a routerLink="/shop">Shopping List</a><span> | </span>
<a routerLink="/dashboard">Dashboard</a><span> | </span>
<a routerLink="/logout">Logout</a><span> | </span>
<a routerLink="/login">Login</a><span> | </span>
<a routerLink="/signup">Sign Up</a>
<hr />

<style>
    h2,
    a {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
    }
    a {
        font-size: 1.25rem;
        color: rgb(185, 100, 3);
    }
    a:link {
        text-decoration: none;
    }
    a:visited {
        text-decoration: none;
    }
    a:hover {
        font-weight: bolder;
    }
    a:active {
        text-decoration: underline;
    }
</style>