<h2>Pheonix's Pick</h2>
<ul>
    <li><a routerLink="/home">Home</a></li>
    <li><a routerLink="/shop">Shopping List</a></li>
    <li>
        <a routerLink="admin/dashboard" *ngIf="adminLoggedIn">Dashboard</a>
    </li>
    <li><a routerLink="auth/logout" *ngIf="!adminLoggedIn">Logout</a></li>
    <li><a routerLink="auth/login" *ngIf="!adminLoggedIn">Login</a></li>
    <li><a routerLink="auth/signup" *ngIf="!adminLoggedIn">Sign Up</a></li>
</ul>

<style>
    ul {
        left: 0;
        right: 0;
        margin-top: 65px;
        display: flex;
        flex-direction: row;
        list-style: none;
        padding: 20px 0;
        background-color: rgba(8, 8, 8, 0.852);
    }
    li {
        margin: auto;
        cursor: pointer;
    }
    h2 {
        position: absolute;
        background-color: rgba(8, 8, 8, 0.863);
        color: rgb(244, 235, 235);
        top: 0;
        left: 0;
        right: 0;
        z-index: 1;
        min-height: 35px;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 0px;
        padding: 10px;
    }
    h2,
    a {
        font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
            "Lucida Sans", Arial, sans-serif;
    }
    a {
        font-size: 1.25rem;
        color: darkgray;
    }
    a:link {
        text-decoration: none;
    }
    a:hover {
        color: rgb(214, 120, 31);
    }
    a:after {
        display: block;
    }
</style>
