<a routerLink="categories">Manage Categories</a><span> | </span>
<a routerLink="products">Manage Products</a>
<router-outlet></router-outlet>

<style>
    h2,
    a {
        font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
            "Lucida Sans", Arial, sans-serif;
    }

    a {
        font-size: 1rem;
        color: rgb(188, 118, 38);
    }

    a:link {
        text-decoration: none;
    }

    a:visited {
        text-decoration: none;
    }

    a:hover {
        font-weight: bolder;
    }

    a:active {
        text-decoration: underline;
    }
</style>
