<!-- This component is used to learn ways to share info between a parent and a child component 
    and unrealted componets from different module -->

<!-- <h2>{{ organization }} &trade; Casinos</h2>
<i>Your total bets are {{ totalBets }}$</i><br />
<app-counter
    [bet]="totalBets"
    (cashUpdateEvent)="updateCasinoCash($event)"
></app-counter> -->

<div class="home-container">
    <input inputFormat /> <input inputFormat [format]="'lowercase'" />
    <input inputFormat [format]="'uppercase'" />
    <br />
    <!-- <iframe
        class="external-video"
        [src]="safeurl"
        height="250"
        width="400"
        frameborder="0"
    ></iframe> -->
</div>

<style>
    .home-container {
        margin-top: 50px;
        align-content: center;
        align-items: center;
        margin-inline: auto;
    }
    .external-video {
        margin-top: 30px;
    }
    * {
        padding-left: 20px;
    }
    h2 {
        margin-top: 40px;
    }
</style>
